.alert {
  display: flex;
  align-items: center;
  gap: 12px;
  border-radius: 8px;
  border: 1px solid #df3353;
  padding: 20px;

  &_icon {
    flex: none;
    width: 20px;
    height: 20px;
    display: block;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.99935 10.8337C10.2355 10.8337 10.4335 10.7537 10.5935 10.5937C10.753 10.4342 10.8327 10.2364 10.8327 10.0003V6.64616C10.8327 6.41005 10.753 6.2156 10.5935 6.06283C10.4335 5.91005 10.2355 5.83366 9.99935 5.83366C9.76324 5.83366 9.56546 5.91338 9.40602 6.07283C9.24602 6.23283 9.16602 6.43088 9.16602 6.66699V10.0212C9.16602 10.2573 9.24602 10.4517 9.40602 10.6045C9.56546 10.7573 9.76324 10.8337 9.99935 10.8337ZM9.99935 14.167C10.2355 14.167 10.4335 14.087 10.5935 13.927C10.753 13.7675 10.8327 13.5698 10.8327 13.3337C10.8327 13.0975 10.753 12.8995 10.5935 12.7395C10.4335 12.58 10.2355 12.5003 9.99935 12.5003C9.76324 12.5003 9.56546 12.58 9.40602 12.7395C9.24602 12.8995 9.16602 13.0975 9.16602 13.3337C9.16602 13.5698 9.24602 13.7675 9.40602 13.927C9.56546 14.087 9.76324 14.167 9.99935 14.167ZM9.99935 18.3337C8.84657 18.3337 7.76324 18.1148 6.74935 17.677C5.73546 17.2398 4.85352 16.6462 4.10352 15.8962C3.35352 15.1462 2.7599 14.2642 2.32268 13.2503C1.8849 12.2364 1.66602 11.1531 1.66602 10.0003C1.66602 8.84755 1.8849 7.76422 2.32268 6.75033C2.7599 5.73644 3.35352 4.85449 4.10352 4.10449C4.85352 3.35449 5.73546 2.7606 6.74935 2.32283C7.76324 1.8856 8.84657 1.66699 9.99935 1.66699C11.1521 1.66699 12.2355 1.8856 13.2493 2.32283C14.2632 2.7606 15.1452 3.35449 15.8952 4.10449C16.6452 4.85449 17.2388 5.73644 17.676 6.75033C18.1138 7.76422 18.3327 8.84755 18.3327 10.0003C18.3327 11.1531 18.1138 12.2364 17.676 13.2503C17.2388 14.2642 16.6452 15.1462 15.8952 15.8962C15.1452 16.6462 14.2632 17.2398 13.2493 17.677C12.2355 18.1148 11.1521 18.3337 9.99935 18.3337ZM9.99935 16.667C11.8466 16.667 13.4196 16.0178 14.7185 14.7195C16.0168 13.4206 16.666 11.8475 16.666 10.0003C16.666 8.1531 16.0168 6.58005 14.7185 5.28116C13.4196 3.98283 11.8466 3.33366 9.99935 3.33366C8.15213 3.33366 6.57935 3.98283 5.28102 5.28116C3.98213 6.58005 3.33268 8.1531 3.33268 10.0003C3.33268 11.8475 3.98213 13.4206 5.28102 14.7195C6.57935 16.0178 8.15213 16.667 9.99935 16.667Z' fill='%23DF3353'/%3E%3C/svg%3E");
  }

  &_text {
    color: #334155;
    font-size: 16px;
    font-weight: 600;
  }

  &-v2 {
    border: none;
    background: #fff3f6;
    justify-content: space-between;
  }
}
