.dropdown {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid #cbd5e1;
  border-radius: 8px;
  background: #fff;
  overflow: hidden;
  $self: &;

  &_head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px;
    background: #f1f5f9;
    width: 100%;
    cursor: pointer;
  }

  &_name {
    font-size: 24px;
    font-weight: 700;
    color: #334155;
  }

  &_icon {
    width: 16px;
    height: 16px;
    display: block;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='17' viewBox='0 0 16 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.79207 12.7325L15.6716 5.8526C16.1095 5.41497 16.1095 4.70563 15.6716 4.26821C15.2342 3.83075 14.5246 3.83075 14.0872 4.26821L7.99997 10.3556L1.91277 4.26821C1.4751 3.83075 0.76565 3.83075 0.328227 4.26821C-0.109409 4.70567 -0.109409 5.41518 0.328227 5.85282L7.20788 12.7327C7.42672 12.9513 7.71322 13.0605 7.99997 13.0605C8.28662 13.0605 8.57334 12.9511 8.79207 12.7325Z' fill='%2394A3B8'/%3E%3C/svg%3E");
  }

  &_body {
    display: none;
    padding: 40px 32px;
    flex-direction: column;
    gap: 48px;
  }

  &.active {
    #{$self}_head {
      border-bottom: 1px solid #cbd5e1;
    }
    #{$self}_icon {
      background-image: url("data:image/svg+xml,%3Csvg width='16' height='17' viewBox='0 0 16 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.79207 4.26753L15.6716 11.1474C16.1095 11.585 16.1095 12.2944 15.6716 12.7318C15.2342 13.1693 14.5246 13.1693 14.0872 12.7318L7.99997 6.64437L1.91277 12.7318C1.4751 13.1693 0.76565 13.1693 0.328227 12.7318C-0.109409 12.2943 -0.109409 11.5848 0.328227 11.1472L7.20788 4.26732C7.42672 4.04869 7.71322 3.93945 7.99997 3.93945C8.28662 3.93945 8.57334 4.04891 8.79207 4.26753Z' fill='%2394A3B8'/%3E%3C/svg%3E");
    }

    #{$self}_body {
      display: flex;
    }
  }
}
