.list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 8px;
  margin-bottom: 8px;

  li {
    line-height: 1.5;
    font-weight: 500;
    color: #334155;
    font-size: 14px;
    display: flex;
    align-items: flex-start;
    gap: 6px;

    &::before {
      content: '';
      display: block;
      width: 4px;
      height: 4px;
      border-radius: 50%;
      background: #1e7868;
      margin-top: 9px;
      flex: none;
    }
  }
}
