.text {
  &_items {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  &_item {
    padding: 20px;
    border-radius: 8px;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 20px;
    background: #f1f5f9;

    &_count {
      font-size: 32px;
      font-weight: 400;
      color: #1e7868;
    }

    &_content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 16px;
      color: #334155;
      font-size: 16px;
    }

    &_p {
      margin-top: 8px;
    }
  }
  &_unit {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 20px;
    border: 1px solid #cbd5e1;
    border-radius: 8px;

    &_icon {
      flex: none;
      display: block;
      width: 40px;
      height: 40px;
      background-repeat: no-repeat;
      background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M34.5827 33.333C34.5827 34.548 34.0993 35.7147 33.241 36.5747C32.3806 37.4333 31.2149 37.9158 29.9993 37.9163H9.99935C8.78435 37.9163 7.61768 37.433 6.75768 36.5747C5.89901 35.7143 5.41653 34.5486 5.41602 33.333V6.66634C5.41602 5.45134 5.89935 4.28467 6.75768 3.42467C7.61805 2.566 8.7838 2.08352 9.99935 2.08301H24.3093C25.0827 2.08301 25.8243 2.38967 26.371 2.93801L33.7277 10.2947C34.276 10.8413 34.5827 11.583 34.5827 12.3563V33.333ZM32.0827 33.333V12.3563C32.0828 12.3016 32.0721 12.2474 32.0512 12.1967C32.0303 12.1461 31.9997 12.1001 31.961 12.0613L24.6043 4.70467C24.5656 4.66601 24.5196 4.63536 24.469 4.61448C24.4183 4.59361 24.3641 4.58291 24.3093 4.58301H9.99935C9.44709 4.58389 8.91769 4.80367 8.52718 5.19418C8.13667 5.58469 7.9169 6.11408 7.91602 6.66634V33.333C7.9169 33.8853 8.13667 34.4147 8.52718 34.8052C8.91769 35.1957 9.44709 35.4155 9.99935 35.4163H29.9993C30.5516 35.4155 31.081 35.1957 31.4715 34.8052C31.862 34.4147 32.0818 33.8853 32.0827 33.333Z' fill='%231E7868'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M23.7487 4.16602C23.7487 3.83449 23.8804 3.51655 24.1148 3.28213C24.3492 3.04771 24.6672 2.91602 24.9987 2.91602C25.3302 2.91602 25.6482 3.04771 25.8826 3.28213C26.117 3.51655 26.2487 3.83449 26.2487 4.16602V9.99935C26.2487 10.2293 26.4354 10.416 26.6654 10.416H32.4987C32.8302 10.416 33.1482 10.5477 33.3826 10.7821C33.617 11.0166 33.7487 11.3345 33.7487 11.666C33.7487 11.9975 33.617 12.3155 33.3826 12.5499C33.1482 12.7843 32.8302 12.916 32.4987 12.916H26.6654C25.8918 12.916 25.15 12.6087 24.603 12.0617C24.056 11.5148 23.7487 10.7729 23.7487 9.99935V4.16602ZM13.332 18.7493C13.0005 18.7493 12.6826 18.6177 12.4481 18.3832C12.2137 18.1488 12.082 17.8309 12.082 17.4993C12.082 17.1678 12.2137 16.8499 12.4481 16.6155C12.6826 16.381 13.0005 16.2493 13.332 16.2493H26.6654C26.9969 16.2493 27.3148 16.381 27.5492 16.6155C27.7837 16.8499 27.9154 17.1678 27.9154 17.4993C27.9154 17.8309 27.7837 18.1488 27.5492 18.3832C27.3148 18.6177 26.9969 18.7493 26.6654 18.7493H13.332ZM13.332 24.5827C13.0005 24.5827 12.6826 24.451 12.4481 24.2166C12.2137 23.9821 12.082 23.6642 12.082 23.3327C12.082 23.0012 12.2137 22.6832 12.4481 22.4488C12.6826 22.2144 13.0005 22.0827 13.332 22.0827H26.6654C26.9969 22.0827 27.3148 22.2144 27.5492 22.4488C27.7837 22.6832 27.9154 23.0012 27.9154 23.3327C27.9154 23.6642 27.7837 23.9821 27.5492 24.2166C27.3148 24.451 26.9969 24.5827 26.6654 24.5827H13.332ZM13.332 30.416C13.0005 30.416 12.6826 30.2843 12.4481 30.0499C12.2137 29.8155 12.082 29.4975 12.082 29.166C12.082 28.8345 12.2137 28.5166 12.4481 28.2821C12.6826 28.0477 13.0005 27.916 13.332 27.916H20.832C21.1636 27.916 21.4815 28.0477 21.7159 28.2821C21.9503 28.5166 22.082 28.8345 22.082 29.166C22.082 29.4975 21.9503 29.8155 21.7159 30.0499C21.4815 30.2843 21.1636 30.416 20.832 30.416H13.332Z' fill='%231E7868'/%3E%3C/svg%3E");
    }
  }
}

.actions {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 12px;

  .print_btn,
  .pdf_btn {
    display: block;
    width: 28px;
    height: 28px;
    background-repeat: no-repeat;
  }

  .print_btn {
    background-image: url("data:image/svg+xml,%3Csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_47_6059)'%3E%3Cpath d='M25.8222 7.32339H22.8525V1.92163C22.8525 1.4062 22.4347 0.988281 21.9192 0.988281H6.08081C5.56538 0.988281 5.14746 1.40615 5.14746 1.92163V7.32339H2.17777C0.976937 7.32339 0 8.30038 0 9.50121V18.8912C0 20.092 0.976937 21.0689 2.17777 21.0689H5.14762V26.0791C5.14762 26.5945 5.56549 27.0124 6.08098 27.0124H21.919C22.4345 27.0124 22.8524 26.5946 22.8524 26.0791V21.0689H25.8222C27.0231 21.0689 28 20.092 28 18.8912V9.50121C28 8.30044 27.0231 7.32339 25.8222 7.32339ZM7.01411 2.85498H20.9858V7.32339H7.01411V2.85498ZM20.9857 25.1457H7.01433V17.5098H20.9857L20.9857 25.1457ZM26.1334 18.8912C26.1333 18.9737 26.1005 19.0528 26.0421 19.1111C25.9838 19.1694 25.9047 19.2023 25.8222 19.2023H22.8524V16.5766C22.8524 16.0611 22.4345 15.6432 21.919 15.6432H6.08098C5.56555 15.6432 5.14762 16.0611 5.14762 16.5766V19.2023H2.17777C2.09528 19.2023 2.0162 19.1694 1.95787 19.1111C1.89954 19.0528 1.86674 18.9737 1.86665 18.8912V9.50127C1.86674 9.41878 1.89954 9.3397 1.95787 9.28137C2.0162 9.22304 2.09528 9.19024 2.17777 9.19015H25.8222C25.9047 9.19024 25.9838 9.22304 26.0421 9.28137C26.1005 9.3397 26.1333 9.41878 26.1334 9.50127V18.8912Z' fill='%2394A3B8'/%3E%3Cpath d='M21.9185 10.9375H19.5427C19.0273 10.9375 18.6094 11.3554 18.6094 11.8709C18.6094 12.3863 19.0272 12.8042 19.5427 12.8042H21.9185C22.4339 12.8042 22.8518 12.3863 22.8518 11.8709C22.8518 11.3554 22.434 10.9375 21.9185 10.9375ZM18.0438 21.8666H9.95484C9.43941 21.8666 9.02148 22.2844 9.02148 22.7999C9.02148 23.3154 9.43935 23.7333 9.95484 23.7333H18.0437C18.5591 23.7333 18.9771 23.3154 18.9771 22.7999C18.9771 22.2844 18.5592 21.8666 18.0438 21.8666ZM18.0438 18.9229H9.95484C9.43941 18.9229 9.02148 19.3407 9.02148 19.8562C9.02148 20.3717 9.43935 20.7896 9.95484 20.7896H18.0437C18.5591 20.7896 18.9771 20.3717 18.9771 19.8562C18.9771 19.3407 18.5592 18.9229 18.0438 18.9229Z' fill='%2394A3B8'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_47_6059'%3E%3Crect width='28' height='28' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
  }

  .pdf_btn {
    background-image: url("data:image/svg+xml,%3Csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.24704 18.0148C8.24704 17.5498 7.92438 17.2725 7.35507 17.2725C7.1226 17.2725 6.96516 17.2954 6.88281 17.3174V18.8093C6.98032 18.8312 7.10019 18.8386 7.26541 18.8386C7.87223 18.8386 8.24704 18.532 8.24704 18.0148ZM11.7713 17.2881C11.5163 17.2881 11.3516 17.3101 11.2541 17.3329V20.6371C11.3516 20.66 11.5091 20.66 11.6514 20.66C12.6857 20.6673 13.3602 20.098 13.3602 18.8917C13.3675 17.8427 12.7529 17.2881 11.7713 17.2881Z' fill='%2394A3B8'/%3E%3Cpath d='M18.3195 0H7.07358C5.43066 0 4.09349 1.33809 4.09349 2.98009V13.9999H3.80243C3.13933 13.9999 2.60156 14.5372 2.60156 15.2009V22.4836C2.60156 23.1472 3.13927 23.6844 3.80243 23.6844H4.09349V25.0199C4.09349 26.6636 5.43066 27.9999 7.07358 27.9999H22.4182C24.0601 27.9999 25.3974 26.6636 25.3974 25.0199V7.05308L18.3195 0ZM5.75193 16.5151C6.10386 16.4557 6.59853 16.4108 7.29549 16.4108C7.99981 16.4108 8.50181 16.5453 8.8391 16.8153C9.1613 17.0698 9.37873 17.4899 9.37873 17.9842C9.37873 18.4784 9.21397 18.8986 8.91419 19.1832C8.52428 19.5502 7.94766 19.715 7.27313 19.715C7.123 19.715 6.98845 19.7076 6.88322 19.693V21.4989H5.75193V16.5151ZM22.4182 26.1749H7.07358C6.43744 26.1749 5.91941 25.6569 5.91941 25.0199V23.6844H20.2237C20.8869 23.6844 21.4246 23.1472 21.4246 22.4836V15.2009C21.4246 14.5372 20.8869 13.9999 20.2237 13.9999H5.91941V2.98009C5.91941 2.34487 6.43749 1.82685 7.07358 1.82685L17.6367 1.81581V5.72033C17.6367 6.8608 18.5621 7.78702 19.7034 7.78702L23.5283 7.77605L23.5714 25.0198C23.5714 25.6569 23.0543 26.1749 22.4182 26.1749ZM10.1082 21.476V16.5151C10.5278 16.4484 11.0747 16.4108 11.6518 16.4108C12.611 16.4108 13.233 16.5829 13.7203 16.9499C14.2448 17.3398 14.5742 17.9613 14.5742 18.8536C14.5742 19.8202 14.2223 20.4874 13.7349 20.8992C13.2031 21.3413 12.3936 21.551 11.4047 21.551C10.8124 21.551 10.3928 21.5134 10.1082 21.476ZM18.2867 18.5389V19.4678H16.473V21.4989H15.3266V16.4484H18.4138V17.3846H16.473V18.5389H18.2867Z' fill='%2394A3B8'/%3E%3C/svg%3E");
  }
}
