.widget {
  background: #f1f5f9;
  border-radius: 4px;
  padding: 28px 24px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  line-height: 1;
  position: sticky;
  top: 0;

  &_title {
    color: #0f172a;
    font-size: 20px;
    font-weight: 600;

    &-sm {
      font-size: 16px;
      text-decoration: underline;
      text-decoration-style: dotted;
    }
  }

  &_actions {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;

    &-col {
      grid-template-columns: 1fr;
    }
  }

  &_print {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    span {
      width: 20px;
      height: 20px;
      display: block;
      flex: none;
      background-repeat: no-repeat;
      background-image: url("data:image/svg+xml,%3Csvg width='21' height='20' viewBox='0 0 21 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_47_5986)'%3E%3Cpath d='M18.9445 5.23113H16.8232V1.37273C16.8232 1.00457 16.5248 0.706055 16.1566 0.706055H4.84344C4.47527 0.706055 4.17676 1.00453 4.17676 1.37273V5.23113H2.05555C1.19781 5.23113 0.5 5.92898 0.5 6.78672V13.4938C0.5 14.3516 1.19781 15.0494 2.05555 15.0494H4.17687V18.628C4.17687 18.9962 4.47535 19.2947 4.84355 19.2947H16.1564C16.5246 19.2947 16.8231 18.9963 16.8231 18.628V15.0494H18.9445C19.8022 15.0494 20.5 14.3516 20.5 13.4938V6.78672C20.5 5.92902 19.8022 5.23113 18.9445 5.23113ZM5.51008 2.03941H15.4899V5.23113H5.51008V2.03941ZM15.4898 17.9614H5.51023V12.5071H15.4898L15.4898 17.9614ZM19.1667 13.4939C19.1666 13.5528 19.1432 13.6093 19.1015 13.6509C19.0599 13.6926 19.0034 13.716 18.9445 13.7161H16.8231V11.8405C16.8231 11.4724 16.5246 11.1739 16.1564 11.1739H4.84355C4.47539 11.1739 4.17687 11.4723 4.17687 11.8405V13.7161H2.05555C1.99663 13.716 1.94014 13.6926 1.89848 13.6509C1.85682 13.6093 1.83338 13.5528 1.83332 13.4939V6.78676C1.83338 6.72784 1.85682 6.67135 1.89848 6.62969C1.94014 6.58803 1.99663 6.56459 2.05555 6.56453H18.9445C19.0034 6.56459 19.0599 6.58803 19.1015 6.62969C19.1432 6.67135 19.1666 6.72784 19.1667 6.78676V13.4939Z' fill='white'/%3E%3Cpath d='M16.1575 7.8125H14.4605C14.0923 7.8125 13.7938 8.11098 13.7938 8.47918C13.7938 8.84738 14.0923 9.14586 14.4605 9.14586H16.1575C16.5256 9.14586 16.8241 8.84738 16.8241 8.47918C16.8241 8.11098 16.5257 7.8125 16.1575 7.8125ZM13.3898 15.619H7.61199C7.24383 15.619 6.94531 15.9175 6.94531 16.2857C6.94531 16.6539 7.24379 16.9523 7.61199 16.9523H13.3898C13.7579 16.9523 14.0564 16.6539 14.0564 16.2857C14.0564 15.9175 13.758 15.619 13.3898 15.619ZM13.3898 13.5163H7.61199C7.24383 13.5163 6.94531 13.8148 6.94531 14.183C6.94531 14.5512 7.24379 14.8497 7.61199 14.8497H13.3898C13.7579 14.8497 14.0564 14.5512 14.0564 14.183C14.0564 13.8148 13.758 13.5163 13.3898 13.5163Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_47_5986'%3E%3Crect width='20' height='20' fill='white' transform='translate(0.5)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
    }
  }
}
