.control {
  display: flex;
  flex-direction: column;
  gap: 12px;
  position: relative;

  &_title {
    color: #334155;
    font-size: 16px;
    font-weight: 600;

    &-notice {
      display: flex;
      align-items: center;
      gap: 6px;
    }

    &_actions {
      margin-left: auto;
      display: flex;
      align-items: center;
      gap: 12px;

      .print_btn,
      .pdf_btn {
        display: block;
        width: 28px;
        height: 28px;
        background-repeat: no-repeat;
      }

      .print_btn {
        background-image: url("data:image/svg+xml,%3Csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_47_6059)'%3E%3Cpath d='M25.8222 7.32339H22.8525V1.92163C22.8525 1.4062 22.4347 0.988281 21.9192 0.988281H6.08081C5.56538 0.988281 5.14746 1.40615 5.14746 1.92163V7.32339H2.17777C0.976937 7.32339 0 8.30038 0 9.50121V18.8912C0 20.092 0.976937 21.0689 2.17777 21.0689H5.14762V26.0791C5.14762 26.5945 5.56549 27.0124 6.08098 27.0124H21.919C22.4345 27.0124 22.8524 26.5946 22.8524 26.0791V21.0689H25.8222C27.0231 21.0689 28 20.092 28 18.8912V9.50121C28 8.30044 27.0231 7.32339 25.8222 7.32339ZM7.01411 2.85498H20.9858V7.32339H7.01411V2.85498ZM20.9857 25.1457H7.01433V17.5098H20.9857L20.9857 25.1457ZM26.1334 18.8912C26.1333 18.9737 26.1005 19.0528 26.0421 19.1111C25.9838 19.1694 25.9047 19.2023 25.8222 19.2023H22.8524V16.5766C22.8524 16.0611 22.4345 15.6432 21.919 15.6432H6.08098C5.56555 15.6432 5.14762 16.0611 5.14762 16.5766V19.2023H2.17777C2.09528 19.2023 2.0162 19.1694 1.95787 19.1111C1.89954 19.0528 1.86674 18.9737 1.86665 18.8912V9.50127C1.86674 9.41878 1.89954 9.3397 1.95787 9.28137C2.0162 9.22304 2.09528 9.19024 2.17777 9.19015H25.8222C25.9047 9.19024 25.9838 9.22304 26.0421 9.28137C26.1005 9.3397 26.1333 9.41878 26.1334 9.50127V18.8912Z' fill='%2394A3B8'/%3E%3Cpath d='M21.9185 10.9375H19.5427C19.0273 10.9375 18.6094 11.3554 18.6094 11.8709C18.6094 12.3863 19.0272 12.8042 19.5427 12.8042H21.9185C22.4339 12.8042 22.8518 12.3863 22.8518 11.8709C22.8518 11.3554 22.434 10.9375 21.9185 10.9375ZM18.0438 21.8666H9.95484C9.43941 21.8666 9.02148 22.2844 9.02148 22.7999C9.02148 23.3154 9.43935 23.7333 9.95484 23.7333H18.0437C18.5591 23.7333 18.9771 23.3154 18.9771 22.7999C18.9771 22.2844 18.5592 21.8666 18.0438 21.8666ZM18.0438 18.9229H9.95484C9.43941 18.9229 9.02148 19.3407 9.02148 19.8562C9.02148 20.3717 9.43935 20.7896 9.95484 20.7896H18.0437C18.5591 20.7896 18.9771 20.3717 18.9771 19.8562C18.9771 19.3407 18.5592 18.9229 18.0438 18.9229Z' fill='%2394A3B8'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_47_6059'%3E%3Crect width='28' height='28' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
      }

      .pdf_btn {
        background-image: url("data:image/svg+xml,%3Csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.24704 18.0148C8.24704 17.5498 7.92438 17.2725 7.35507 17.2725C7.1226 17.2725 6.96516 17.2954 6.88281 17.3174V18.8093C6.98032 18.8312 7.10019 18.8386 7.26541 18.8386C7.87223 18.8386 8.24704 18.532 8.24704 18.0148ZM11.7713 17.2881C11.5163 17.2881 11.3516 17.3101 11.2541 17.3329V20.6371C11.3516 20.66 11.5091 20.66 11.6514 20.66C12.6857 20.6673 13.3602 20.098 13.3602 18.8917C13.3675 17.8427 12.7529 17.2881 11.7713 17.2881Z' fill='%2394A3B8'/%3E%3Cpath d='M18.3195 0H7.07358C5.43066 0 4.09349 1.33809 4.09349 2.98009V13.9999H3.80243C3.13933 13.9999 2.60156 14.5372 2.60156 15.2009V22.4836C2.60156 23.1472 3.13927 23.6844 3.80243 23.6844H4.09349V25.0199C4.09349 26.6636 5.43066 27.9999 7.07358 27.9999H22.4182C24.0601 27.9999 25.3974 26.6636 25.3974 25.0199V7.05308L18.3195 0ZM5.75193 16.5151C6.10386 16.4557 6.59853 16.4108 7.29549 16.4108C7.99981 16.4108 8.50181 16.5453 8.8391 16.8153C9.1613 17.0698 9.37873 17.4899 9.37873 17.9842C9.37873 18.4784 9.21397 18.8986 8.91419 19.1832C8.52428 19.5502 7.94766 19.715 7.27313 19.715C7.123 19.715 6.98845 19.7076 6.88322 19.693V21.4989H5.75193V16.5151ZM22.4182 26.1749H7.07358C6.43744 26.1749 5.91941 25.6569 5.91941 25.0199V23.6844H20.2237C20.8869 23.6844 21.4246 23.1472 21.4246 22.4836V15.2009C21.4246 14.5372 20.8869 13.9999 20.2237 13.9999H5.91941V2.98009C5.91941 2.34487 6.43749 1.82685 7.07358 1.82685L17.6367 1.81581V5.72033C17.6367 6.8608 18.5621 7.78702 19.7034 7.78702L23.5283 7.77605L23.5714 25.0198C23.5714 25.6569 23.0543 26.1749 22.4182 26.1749ZM10.1082 21.476V16.5151C10.5278 16.4484 11.0747 16.4108 11.6518 16.4108C12.611 16.4108 13.233 16.5829 13.7203 16.9499C14.2448 17.3398 14.5742 17.9613 14.5742 18.8536C14.5742 19.8202 14.2223 20.4874 13.7349 20.8992C13.2031 21.3413 12.3936 21.551 11.4047 21.551C10.8124 21.551 10.3928 21.5134 10.1082 21.476ZM18.2867 18.5389V19.4678H16.473V21.4989H15.3266V16.4484H18.4138V17.3846H16.473V18.5389H18.2867Z' fill='%2394A3B8'/%3E%3C/svg%3E");
      }
    }
  }

  &-date {
    &::after {
      content: '';
      width: 16px;
      height: 16px;
      display: block;
      position: absolute;
      right: 12px;
      bottom: 15px;
      z-index: 2;
      background-repeat: no-repeat;
      background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14 2H13.3334V0.666625C13.3334 0.298719 13.0347 0 12.6666 0H12C11.632 0 11.3334 0.298719 11.3334 0.666625V2H4.66663V0.666625C4.66663 0.298719 4.36803 0 4 0H3.33337C2.96534 0 2.66663 0.298719 2.66663 0.666625V2H2C0.897344 2 0 2.89734 0 4V14C0 15.1027 0.897344 16 2 16H14C15.1027 16 16 15.1027 16 14V4C16 2.89734 15.1027 2 14 2ZM14.6666 14C14.6666 14.3673 14.3673 14.6666 14 14.6666H2C1.63269 14.6666 1.33337 14.3673 1.33337 14V6.69334H14.6666V14Z' fill='%2394A3B8'/%3E%3C/svg%3E");
    }
  }

  &_notice {
    position: relative;
    $notice: &;

    &_content {
      position: absolute;
      left: -150px;
      top: 100%;
      z-index: -1000;
      visibility: hidden;
      opacity: 0;
      height: 0;
      padding: 0;

      p {
        font-size: 13px;
        font-weight: 400;
        font-style: italic;
        color: #5b6675;
      }
    }

    &_icon {
      cursor: default;
      display: block;
      width: 16px;
      height: 16px;
      background-repeat: no-repeat;
      background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.96732 11.9997C8.20065 11.9997 8.39798 11.919 8.55932 11.7577C8.72021 11.5968 8.80065 11.3997 8.80065 11.1663C8.80065 10.933 8.72021 10.7359 8.55932 10.575C8.39798 10.4137 8.20065 10.333 7.96732 10.333C7.73398 10.333 7.53665 10.4137 7.37532 10.575C7.21443 10.7359 7.13398 10.933 7.13398 11.1663C7.13398 11.3997 7.21443 11.5968 7.37532 11.7577C7.53665 11.919 7.73398 11.9997 7.96732 11.9997ZM8.06732 5.13301C8.37843 5.13301 8.62843 5.21901 8.81732 5.39101C9.00621 5.56345 9.10065 5.78856 9.10065 6.06634C9.10065 6.25523 9.03687 6.44679 8.90932 6.64101C8.78132 6.83567 8.60065 7.03856 8.36732 7.24967C8.03398 7.53856 7.78954 7.81634 7.63398 8.08301C7.47843 8.34967 7.40065 8.61634 7.40065 8.88301C7.40065 9.03856 7.4591 9.16901 7.57598 9.27434C7.69243 9.38012 7.82843 9.43301 7.98398 9.43301C8.13954 9.43301 8.27843 9.37745 8.40065 9.26634C8.52287 9.15523 8.60065 9.01634 8.63398 8.84967C8.66732 8.66079 8.74243 8.4859 8.85932 8.32501C8.97576 8.16367 9.16732 7.95523 9.43398 7.69967C9.77843 7.37745 10.0202 7.08301 10.1593 6.81634C10.298 6.54967 10.3673 6.25523 10.3673 5.93301C10.3673 5.36634 10.1535 4.90234 9.72598 4.54101C9.29798 4.18012 8.7451 3.99967 8.06732 3.99967C7.60065 3.99967 7.18687 4.08856 6.82598 4.26634C6.46465 4.44412 6.18398 4.71634 5.98398 5.08301C5.90621 5.22745 5.87843 5.36901 5.90065 5.50767C5.92287 5.64679 6.00065 5.76079 6.13398 5.84967C6.27843 5.93856 6.43687 5.96634 6.60932 5.93301C6.78132 5.89967 6.92287 5.80523 7.03398 5.64967C7.15621 5.48301 7.30354 5.35523 7.47598 5.26634C7.64798 5.17745 7.8451 5.13301 8.06732 5.13301ZM8.00065 14.6663C7.08954 14.6663 6.22843 14.4912 5.41732 14.141C4.60621 13.7912 3.89798 13.3163 3.29265 12.7163C2.68687 12.1163 2.2091 11.4108 1.85932 10.5997C1.5091 9.78856 1.33398 8.9219 1.33398 7.99967C1.33398 7.07745 1.5091 6.21079 1.85932 5.39967C2.2091 4.58856 2.68687 3.88301 3.29265 3.28301C3.89798 2.68301 4.60621 2.2079 5.41732 1.85767C6.22843 1.5079 7.08954 1.33301 8.00065 1.33301C8.93398 1.33301 9.80621 1.5079 10.6173 1.85767C11.4284 2.2079 12.134 2.68301 12.734 3.28301C13.334 3.88301 13.8062 4.58856 14.1507 5.39967C14.4951 6.21079 14.6673 7.07745 14.6673 7.99967C14.6673 8.9219 14.4951 9.78856 14.1507 10.5997C13.8062 11.4108 13.334 12.1163 12.734 12.7163C12.134 13.3163 11.4284 13.7912 10.6173 14.141C9.80621 14.4912 8.93398 14.6663 8.00065 14.6663ZM8.00065 13.333C9.48954 13.333 10.7507 12.8137 11.784 11.775C12.8173 10.7359 13.334 9.47745 13.334 7.99967C13.334 6.5219 12.8173 5.26345 11.784 4.22434C10.7507 3.18567 9.48954 2.66634 8.00065 2.66634C6.5451 2.66634 5.29221 3.18567 4.24198 4.22434C3.19221 5.26345 2.66732 6.5219 2.66732 7.99967C2.66732 9.47745 3.19221 10.7359 4.24198 11.775C5.29221 12.8137 6.5451 13.333 8.00065 13.333Z' fill='%2394A3B8'/%3E%3C/svg%3E");

      &:hover + #{$notice}_content {
        z-index: 3;
        visibility: visible;
        opacity: 1;
        width: 300px;
        height: auto;
        padding: 5px;
        background: #fff;
        border: 1px solid #cbd5e1;
        border-radius: 4px;
      }
    }
  }

  &-x2 {
    grid-column: 2/4;

    @include maxWidth(1500px) {
      grid-column: 2/3;
    }

    @include maxWidth(1300px) {
      grid-column: unset;
    }
  }

  &-g24 {
    gap: 24px;
  }

  &-files {
    padding: 20px;
    border-radius: 8px;
    background: #f1f5f9;

    &-err {
      background: #fff3f6;
    }
  }

  &_list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 8px;
    margin-bottom: 8px;

    li {
      line-height: 1;
      font-weight: 500;
      color: #334155;
      font-size: 14px;
      display: flex;
      align-items: center;
      gap: 6px;

      &::before {
        content: '';
        display: block;
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background: #1e7868;
      }
    }
  }
}
