.files {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;

  &_item {
    padding: 20px;
    background: #fff;
    border: 1px solid #cbd5e1;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 170px;

    &_icon {
      display: block;
      width: 40px;
      height: 40px;
      background-repeat: no-repeat;
      background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M34.5827 33.333C34.5827 34.548 34.0993 35.7147 33.241 36.5747C32.3806 37.4333 31.2149 37.9158 29.9993 37.9163H9.99935C8.78435 37.9163 7.61768 37.433 6.75768 36.5747C5.89901 35.7143 5.41653 34.5486 5.41602 33.333V6.66634C5.41602 5.45134 5.89935 4.28467 6.75768 3.42467C7.61805 2.566 8.7838 2.08352 9.99935 2.08301H24.3093C25.0827 2.08301 25.8243 2.38967 26.371 2.93801L33.7277 10.2947C34.276 10.8413 34.5827 11.583 34.5827 12.3563V33.333ZM32.0827 33.333V12.3563C32.0828 12.3016 32.0721 12.2474 32.0512 12.1967C32.0303 12.1461 31.9997 12.1001 31.961 12.0613L24.6043 4.70467C24.5656 4.66601 24.5196 4.63536 24.469 4.61448C24.4183 4.59361 24.3641 4.58291 24.3093 4.58301H9.99935C9.44709 4.58389 8.91769 4.80367 8.52718 5.19418C8.13667 5.58469 7.9169 6.11408 7.91602 6.66634V33.333C7.9169 33.8853 8.13667 34.4147 8.52718 34.8052C8.91769 35.1957 9.44709 35.4155 9.99935 35.4163H29.9993C30.5516 35.4155 31.081 35.1957 31.4715 34.8052C31.862 34.4147 32.0818 33.8853 32.0827 33.333Z' fill='%231E7868'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M23.7487 4.16602C23.7487 3.83449 23.8804 3.51655 24.1148 3.28213C24.3492 3.04771 24.6672 2.91602 24.9987 2.91602C25.3302 2.91602 25.6482 3.04771 25.8826 3.28213C26.117 3.51655 26.2487 3.83449 26.2487 4.16602V9.99935C26.2487 10.2293 26.4354 10.416 26.6654 10.416H32.4987C32.8302 10.416 33.1482 10.5477 33.3826 10.7821C33.617 11.0166 33.7487 11.3345 33.7487 11.666C33.7487 11.9975 33.617 12.3155 33.3826 12.5499C33.1482 12.7843 32.8302 12.916 32.4987 12.916H26.6654C25.8918 12.916 25.15 12.6087 24.603 12.0617C24.056 11.5148 23.7487 10.7729 23.7487 9.99935V4.16602ZM13.332 18.7493C13.0005 18.7493 12.6826 18.6177 12.4481 18.3832C12.2137 18.1488 12.082 17.8309 12.082 17.4993C12.082 17.1678 12.2137 16.8499 12.4481 16.6155C12.6826 16.381 13.0005 16.2493 13.332 16.2493H26.6654C26.9969 16.2493 27.3148 16.381 27.5492 16.6155C27.7837 16.8499 27.9154 17.1678 27.9154 17.4993C27.9154 17.8309 27.7837 18.1488 27.5492 18.3832C27.3148 18.6177 26.9969 18.7493 26.6654 18.7493H13.332ZM13.332 24.5827C13.0005 24.5827 12.6826 24.451 12.4481 24.2166C12.2137 23.9821 12.082 23.6642 12.082 23.3327C12.082 23.0012 12.2137 22.6832 12.4481 22.4488C12.6826 22.2144 13.0005 22.0827 13.332 22.0827H26.6654C26.9969 22.0827 27.3148 22.2144 27.5492 22.4488C27.7837 22.6832 27.9154 23.0012 27.9154 23.3327C27.9154 23.6642 27.7837 23.9821 27.5492 24.2166C27.3148 24.451 26.9969 24.5827 26.6654 24.5827H13.332ZM13.332 30.416C13.0005 30.416 12.6826 30.2843 12.4481 30.0499C12.2137 29.8155 12.082 29.4975 12.082 29.166C12.082 28.8345 12.2137 28.5166 12.4481 28.2821C12.6826 28.0477 13.0005 27.916 13.332 27.916H20.832C21.1636 27.916 21.4815 28.0477 21.7159 28.2821C21.9503 28.5166 22.082 28.8345 22.082 29.166C22.082 29.4975 21.9503 29.8155 21.7159 30.0499C21.4815 30.2843 21.1636 30.416 20.832 30.416H13.332Z' fill='%231E7868'/%3E%3C/svg%3E");
    }

    &_title,
    &_del {
      font-size: 14px;
      font-weight: 500;
    }

    &_title {
      color: #59677d;
    }

    &_del {
      color: #df3353;
      cursor: pointer;
    }

    &_actions {
    }
  }
}
