input {
  &[type='text'],
  &[type='mail'] {
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #cbd5e1;
    height: 44px;
    display: flex;
    align-items: center;
    padding: 0 12px;
    width: 100%;
    color: #59677d;
    font-weight: 400;
    font-style: italic;

    &::placeholder {
      color: #59677d;
      font-style: italic;
    }

    &:active,
    &:focus {
      &:not(:disabled) {
        border-color: #33dfbf;
        color: #0f172a;
        font-weight: 600;
        font-style: normal;
      }
    }

    &:disabled {
      background: #f1f5f9;
      font-weight: 400;
      color: #94a3b8;
      font-style: normal;
    }

    &.ok {
      border-color: #34bda5;
      background: #ecfffb;
    }

    &.err {
      border-color: #df3353;
      background: #fff3f6;

      &:active,
      &:focus {
        border-color: #cbd5e1;
        background: #fff;
      }
    }
  }
}

textarea {
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #cbd5e1;
  height: 44px;
  display: flex;
  align-items: center;
  padding: 12px;
  height: 140px;
  resize: none;
  outline: none;
  background: #fff;
  width: 100%;
  text-align: left;

  &::placeholder {
    color: #59677d;
    font-style: italic;
  }

  &.ok {
    border-color: #34bda5;
  }

  &.err {
    border-color: #f72121;
  }

  &.textarea-sm {
    min-height: 76px;
    height: auto;
  }
}
